<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.lab_attendance.dao.AttendanceMapper">
  <resultMap id="BaseResultMap" type="com.zx.lab_attendance.entity.Attendance">
    <id column="attendance_id" jdbcType="VARCHAR" property="attendanceId" />
    <result column="student_id" jdbcType="VARCHAR" property="studentId" />
    <result column="labusing_id" jdbcType="VARCHAR" property="labusingId" />
    <result column="teacher_id" jdbcType="VARCHAR" property="teacherId" />
    <result column="attendance_date" jdbcType="TIMESTAMP" property="attendanceDate" />
    <result column="attendance_record" jdbcType="INTEGER" property="attendanceRecord" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from attendance
    where attendance_id = #{attendanceId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zx.lab_attendance.entity.Attendance">
    insert into attendance (attendance_id, student_id, labusing_id, 
      teacher_id, attendance_date, attendance_record
      )
    values (#{attendanceId,jdbcType=VARCHAR}, #{studentId,jdbcType=VARCHAR}, #{labusingId,jdbcType=VARCHAR}, 
      #{teacherId,jdbcType=VARCHAR}, #{attendanceDate,jdbcType=TIMESTAMP}, #{attendanceRecord,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zx.lab_attendance.entity.Attendance">
    update attendance
    set student_id = #{studentId,jdbcType=VARCHAR},
      labusing_id = #{labusingId,jdbcType=VARCHAR},
      teacher_id = #{teacherId,jdbcType=VARCHAR},
      attendance_date = #{attendanceDate,jdbcType=TIMESTAMP},
      attendance_record = #{attendanceRecord,jdbcType=INTEGER}
    where attendance_id = #{attendanceId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select attendance_id, student_id, labusing_id, teacher_id, attendance_date, attendance_record
    from attendance
    where attendance_id = #{attendanceId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select attendance_id, student_id, labusing_id, teacher_id, attendance_date, attendance_record
    from attendance
  </select>
  <select id="selectByConditions" parameterType="com.zx.lab_attendance.entity.Attendance" resultMap="BaseResultMap">
    select attendance_id, student_id, labusing_id, teacher_id, attendance_date, attendance_record
    from attendance where
    <if test="studentId != null and studentId != ''">
      student_id=#{studentId,jdbcType=VARCHAR}
    </if>
    <if test="teacherId != null and teacherId != ''">
      teacher_id=#{teacherId,jdbcType=VARCHAR}
    </if>
    <if test="labusingId != null and labusingId != ''">
      labusing_id=#{labusingId,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectByStudentID" resultMap="BaseResultMap">
    select attendance_id, student_id, labusing_id, teacher_id, attendance_date, attendance_record
    from attendance
    where student_id = #{studentid,jdbcType=VARCHAR}
    <if test="starttime != null and starttime != ''">
      and DATE_FORMAT(attendance_date,'%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{starttime}, '%Y-%m-%d %H:%T:%s')
    </if>
    <if test="endtime != null and endtime != ''">
      and DATE_FORMAT(attendance_date,'%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{endtime},'%Y-%m-%d %H:%T:%s')
    </if>
  </select>
  <select id="selectByCourseCode" resultMap="BaseResultMap">
    select attendance_id, student_id, labusing_id, teacher_id, attendance_date, attendance_record
    from attendance
    where labusing_id = #{labusing,jdbcType=VARCHAR}
    <if test="starttime != null and starttime != ''">
      and DATE_FORMAT(attendance_date,'%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{starttime}, '%Y-%m-%d')
    </if>
    <if test="endtime != null and endtime != ''">
      and DATE_FORMAT(attendance_date,'%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{endtime},'%Y-%m-%d')
    </if>
  </select>
  <select id="selectByDateAndStaus" resultMap="BaseResultMap">
    select attendance_id, student_id, labusing_id, teacher_id, attendance_date, attendance_record
    from attendance
    where DATE_FORMAT(attendance_date,'%Y-%m-%d') = DATE_FORMAT(#{date},'%Y-%m-%d') and attendance_record = 1
  </select>
  <select id="selectByDate" resultMap="BaseResultMap">
    select attendance_id, student_id, labusing_id, teacher_id, attendance_date, attendance_record
    from attendance
    where DATE_FORMAT(attendance_date,'%Y-%m-%d') = DATE_FORMAT(#{date},'%Y-%m-%d')
  </select>
  <select id="selectByStaus" resultMap="BaseResultMap">
    select attendance_id, student_id, labusing_id, teacher_id, attendance_date, attendance_record
    from attendance
    where attendance_record = 5
    <if test="starttime != null and starttime != ''">
      and DATE_FORMAT(attendance_date,'%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{starttime}, '%Y-%m-%d')
    </if>
    <if test="endtime != null and endtime != ''">
      and DATE_FORMAT(attendance_date,'%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{endtime},'%Y-%m-%d')
    </if>
  </select>

</mapper>