<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.lab_attendance.dao.ChatmsgMapper">
  <resultMap id="BaseResultMap" type="com.zx.lab_attendance.entity.Chatmsg">
    <id column="chatmsg_id" jdbcType="VARCHAR" property="chatmsgId" />
    <result column="receiver_id" jdbcType="VARCHAR" property="receiverId" />
    <result column="sender_id" jdbcType="VARCHAR" property="senderId" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="receive_sign" jdbcType="INTEGER" property="receiveSign" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from chatmsg
    where chatmsg_id = #{chatmsgId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zx.lab_attendance.entity.Chatmsg">
    insert into chatmsg (chatmsg_id, receiver_id, sender_id, 
      msg, receive_sign)
    values (#{chatmsgId,jdbcType=VARCHAR}, #{receiverId,jdbcType=VARCHAR}, #{senderId,jdbcType=VARCHAR}, 
      #{msg,jdbcType=VARCHAR}, #{receiveSign,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zx.lab_attendance.entity.Chatmsg">
    update chatmsg
    set receiver_id = #{receiverId,jdbcType=VARCHAR},
      sender_id = #{senderId,jdbcType=VARCHAR},
      msg = #{msg,jdbcType=VARCHAR},
      receive_sign = #{receiveSign,jdbcType=INTEGER}
    where chatmsg_id = #{chatmsgId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select chatmsg_id, receiver_id, sender_id, msg, receive_sign
    from chatmsg
    where chatmsg_id = #{chatmsgId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select chatmsg_id, receiver_id, sender_id, msg, receive_sign
    from chatmsg
  </select>
</mapper>