<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.lab_attendance.dao.LeaveMapper">
  <resultMap id="BaseResultMap" type="com.zx.lab_attendance.entity.Leave">
    <id column="leave_id" jdbcType="VARCHAR" property="leaveId" />
    <result column="student_id" jdbcType="VARCHAR" property="studentId" />
    <result column="leave_reason" jdbcType="VARCHAR" property="leaveReason" />
    <result column="leave_class" jdbcType="INTEGER" property="leaveClass" />
    <result column="leave_img" jdbcType="VARCHAR" property="leaveImg" />
    <result column="approver" jdbcType="VARCHAR" property="approver" />
    <result column="leave_datestart" jdbcType="TIMESTAMP" property="leaveDatestart" />
    <result column="leave_dateend" jdbcType="TIMESTAMP" property="leaveDateend" />
    <result column="leavedate" jdbcType="TIMESTAMP" property="leavedate" />
    <result column="leaveStatus" jdbcType="INTEGER" property="leaveStatus" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from leave
    where leave_id = #{leaveId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zx.lab_attendance.entity.Leave">
    insert into `leave` (leave_id, student_id, leave_reason,
      leave_class, leave_img, approver,
      leave_datestart, leave_dateend,leaveStatus,leavedate)
    values (#{leaveId,jdbcType=VARCHAR}, #{studentId,jdbcType=VARCHAR}, #{leaveReason,jdbcType=VARCHAR}, 
      #{leaveClass,jdbcType=INTEGER}, #{leaveImg,jdbcType=VARCHAR}, #{approver,jdbcType=VARCHAR},
      #{leaveDatestart,jdbcType=TIMESTAMP}, #{leaveDateend,jdbcType=TIMESTAMP},#{leaveStatus,jdbcType=INTEGER},#{leavedate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zx.lab_attendance.entity.Leave">
    update leave
    set student_id = #{studentId,jdbcType=VARCHAR},
      leave_reason = #{leaveReason,jdbcType=VARCHAR},
      leave_class = #{leaveClass,jdbcType=INTEGER},
      leave_img = #{leaveImg,jdbcType=VARCHAR},
      approver = #{approver,jdbcType=VARCHAR},
      leave_datestart = #{leaveDatestart,jdbcType=TIMESTAMP},
      leave_dateend = #{leaveDateend,jdbcType=TIMESTAMP},
      leaveStatus = #{leaveStatus,jdbcType=INTEGER}
    where leave_id = #{leaveId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select leave_id, student_id, leave_reason, leave_class, leave_img, approver, leave_datestart, 
    leave_dateend,leaveStatus
    from leave
    where leave_id = #{leaveId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select leave_id, student_id, leave_reason, leave_class, leave_img, approver, leave_datestart, 
    leave_dateend,leaveStatus
    from leave
  </select>
</mapper>