<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.lab_attendance.dao.PermissionsMapper">
  <resultMap id="BaseResultMap" type="com.zx.lab_attendance.entity.Permissions">
    <id column="permissions_id" jdbcType="INTEGER" property="permissionsId" />
    <result column="permissions" jdbcType="VARCHAR" property="permissions" />
    <result column="permissions_des" jdbcType="VARCHAR" property="permissionsDes" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from permissions
    where permissions_id = #{permissionsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zx.lab_attendance.entity.Permissions">
    insert into permissions (permissions_id, permissions, permissions_des
      )
    values (#{permissionsId,jdbcType=INTEGER}, #{permissions,jdbcType=VARCHAR}, #{permissionsDes,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zx.lab_attendance.entity.Permissions">
    update permissions
    set permissions = #{permissions,jdbcType=VARCHAR},
      permissions_des = #{permissionsDes,jdbcType=VARCHAR}
    where permissions_id = #{permissionsId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select permissions_id, permissions, permissions_des
    from permissions
    where permissions_id = #{permissionsId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select permissions_id, permissions, permissions_des
    from permissions
  </select>
</mapper>